@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: var(ClashDisplay-Bold);
}

main {
    position: absolute;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

:root {
    --whiteColor: white;
    --blackColor: black;
}

menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.menu-btn{
    display: none;
    position: fixed;
    top: 4%;
    right: 4%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: aliceblue;
}
.icon-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.line{
    width: 50%;
    height: 2px;
    background-color: var(--blackColor);
}

.show {
    display: flex;
}

.menu-btn img {
    width: 100%;
    height: 100%;
}



.close-icon-button {
    position: relative;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

.close-icon-button:hover {
    background-color: rgb(211, 21, 21);
}

.close-icon-button:active {
    background-color: rgb(130, 0, 0);
}

.close-icon-button:hover>.close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 1;
    }
}

.Home-Page {
    position: relative;
    overflow: hidden;
}

.random-img {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.random-img {
    z-index: -99;
}

.logo-cover {
    width: 1%;
    margin-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 15px;
    transition: transform 0.5s ease;
    animation-name: leSpinOutLeft;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.nav-container {
    color: var(blackColor);
    padding-inline: 10%;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    margin-block: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a:hover:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 50%;
    bottom: -50%;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--blackColor);
    margin-left: 50%;
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    animation: dot-in 0.5s ease;
}

@keyframes dot-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-icon {
    display: none;
}

.code-by,
.amey,
.sawant {
    color: var(--background);
    width: 10%;
    white-space: nowrap;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.code-by {
    z-index: 1;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.amey {
    opacity: 1;
    z-index: 2;
    transform: translateX(65px);
    -webkit-transform: translateX(65px);
    -moz-transform: translateX(65px);
    -ms-transform: translateX(65px);
    -o-transform: translateX(65px);
}

.sawant {
    opacity: 0;
    transform: translateX(0px);
    z-index: 2;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

.logo-div:hover .code-by {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.logo-div:hover .amey {
    opacity: 1;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

.logo-div:hover .sawant {
    opacity: 1;
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
}

.logo-div:hover #logo {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    right: 10px;
    white-space: nowrap;
}

.menu-icon {
    display: none;
    opacity: 0;
}

.dot-menu {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--blackColor);
    left: -30%;
    top: 30%;
    bottom: auto;
    width: calc(clamp(14px, 1.1vw, 17px) / 1.65);
    height: calc(clamp(14px, 1.1vw, 17px) / 1.65);
    transform: translate(0, 0) scale(1);
    animation: dot-menu-animation both 1.1s ease-in-out;
    -webkit-animation: dot-menu-animation both 1.1s ease-in-out;
    -webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero {
    margin-top: 15%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    font-size: 12rem;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    background-image: linear-gradient(20deg, #000000, rgb(255, 255, 255));
    color: transparent;
    background-clip: text
}

.hero-text {
    color: var(--blackColor);
    font-size: 2rem;
    font-weight: 200;
    font-stretch: condensed;
    font-family: "Roboto Mono", monospace;
    display: flex;
}

@media (max-width: 320px) {
    .hero{
        margin-top: 5%;
    }
    .About-Page{
        margin-top: 50%;
    }
    .Work{
        margin-top: 50%;
    }
}

@media (max-width: 425px) {
    .hero{
        margin-top: 5%;
    }
    .About-Page{
        margin-top: 50%;
    }
    .Work{
        margin-top: 50%;
    }
}

@media (max-width: 768px) {
    .hero{
        margin-top: 5%;
    }
    .About-Page{
        margin-top: 50%;
    }
    .Work{
        margin-top: 50%;
    }

}


.tooltip-container {
    --background: #333333;
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 18px;
    font-weight: 600;
    color: var(--blackColor);
    padding: 0.7em 1.8em;
    border-radius: 8px;
    text-transform: uppercase;
    height: 60px;
    width: 180px;
    display: grid;
    place-items: center;
    border: 2px solid var(--blackColor);
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.tooltip-container span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--background);
    z-index: -1;
    border: 2px solid var(--background);
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
}

.tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
}

.tooltip-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: white;
    border-color: transparent;
}

.tooltip-container:hover span:last-child {
    transform: scale(1);
    left: 0;
}

.tooltip-container:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
}

/* About Me section */

.About-Page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.am,
.wai {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-text {
    font-weight: 500;
    font-size: 9rem;
    font-family: "Bebas Neue", sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--blackColor);
    margin: 0;
    white-space: nowrap;
}

.overlay-text {
    font-size: 3.5rem;
    position: absolute;
    font-weight: bold;
    color: var(--blackColor);
    text-align: center;
    white-space: nowrap;
    padding: 0 10px;
    font-family: "Bebas Neue", sans-serif;

}

.About-Page p {
    padding-inline: 10%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--blackColor);
    font-weight: 700;
    background-image: linear-gradient(35deg, #000000, rgba(205, 205, 205, 0.486));
    color: transparent;
    background-clip: text;
}

.mylinks {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.gBG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
}

.Btn:hover .gBG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}


.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.lBG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .lBG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
}


/* work section */

.Work {
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    -moz-transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    -ms-transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.workrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workrow h1 {
    font-size: 7rem;
    font-weight: 400;
    margin-inline: 10%;
}

.workrow svg {
    margin-right: 10%;
}

.about-project {
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 4rem;
    width: 50%;
    z-index: 99;
}

.project-name {
    font-size: 1.5rem;
    font-weight: 500;
    width: 10vw;
    height: 4rem;
    background-color: var(--whiteColor);
    text-align: center;
    line-height: 4rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.arrow-circle {
    width: 4rem;
    height: 4rem;
    background-color: var(--whiteColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.arrow-circle lottie-player {
    padding: 10%;
    transform: scale(2) rotate(-155deg);
    -webkit-transform: scale(2) rotate(-155deg);
    -moz-transform: scale(2) rotate(-155deg);
    -ms-transform: scale(2) rotate(-155deg);
    -o-transform: scale(2) rotate(-155deg);
    -webkit-transform: scale(2) rotate(-155deg);
}

.cnt {
    height: fit-content;
    position: relative;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.cnt img {
    width: 105%;
    transition: filter cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -webkit-transition: filter cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -moz-transition: filter cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -ms-transition: filter cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -o-transition: filter cubic-bezier(0.19, 1, 0.25, 1) 1s;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

#images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    padding: 20px;
    height: 100%;
}


.cnt1 {
    grid-column: 2 / span 5;
    grid-row: 1 / span 5;
}

.cnt2 {
    grid-column: 9 / span 3;
    grid-row: 4 / span 2;
}

.cnt3 {
    grid-column: 4 / span 6;
    grid-row: 7 / span 5;
}

.cnt4 {
    grid-column: 2 / span 3;
    grid-row: 13 / span 3;
}

.cnt5 {
    grid-column: 7 / span 6;
    grid-row: 12 / span 6;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }

    .cnt1 {
        grid-column: 1 / span 6;
        grid-row: 1 / span 4;
    }

    .cnt2 {
        grid-column: 1 / span 6;
        grid-row: 5 / span 4;
    }

    .cnt3 {
        grid-column: 1 / span 6;
        grid-row: 9 / span 6;
    }

    .cnt4 {
        grid-column: 1 / span 6;
        grid-row: 15 / span 4;
    }

    .cnt5 {
        grid-column: 1 / span 6;
        grid-row: 19 / span 4;
    }
}


#cursor {
    position: fixed;
    width: 17vw;
    top: 0;
    left: 0;
    z-index: 9999999;
    pointer-events: none;
}

#cursor>div {
    transition: all cubic-bezier(0.19, 1, 0.25, 1) 1s;
    opacity: 0;
    position: absolute;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -moz-transition: all cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -ms-transition: all cubic-bezier(0.19, 1, 0.25, 1) 1s;
    -o-transition: all cubic-bezier(0.19, 1, 0.25, 1) 1s;
}

#elem {
    width: 100%;
    position: relative;
    right: 50%;
    bottom: 0;
    margin-top: 20%;
}

#cursor .crow {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: .7vw;
}

.crow .ccircle {
    width: 4vw;
    height: 2vw;
    border: 2px solid var(--whiteColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.crow .ccapsule {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    width: 15vw;
    height: 2vw;
    border-radius: 100px;
    background-color: var(--whiteColor);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#elem img {
    width: 100%;
    opacity: 0;
    animation: an 4s linear infinite;
    -webkit-animation: an 4s linear infinite;
    position: absolute;
}

#elem img:nth-child(2) {
    animation-delay: 1s;
}

#elem img:nth-child(3) {
    animation-delay: 2s;
}

#elem img:nth-child(4) {
    animation-delay: 3s;
}

@keyframes an {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



/* contact section */

.Contact-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: "Baskervville SC", serif;
    color: #eee;
    background-color: #111;
}

.contact-title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 5%;
}

.contact-title h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 5%;
}

.contact-form form {
    width: 100%;
    max-width: 400px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #444;
    color: #eee;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #666;
}

.contact-form .submit-btn {
    background-color: #444;
    color: #eee;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #666;
}

.contact-form .email-phone {
    display: flex;
    justify-content: space-between;
}

.contact-form .email-phone input {
    width: 48%; /* Split input fields */
}
.my-contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    color: #eee;
    font-size: 14px;
    flex-wrap: nowrap; /* Ensure items do not wrap */
}

.my-contacts div {
    flex: 1; /* Allow the divs to take up equal space */
}

.my-contacts a {
    display: inline-block;
    color: #eee;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* If the text is too long, it will be truncated */
}

.my-contacts a:hover {
    color: #666;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .Contact-me {
        flex-direction: column;
        height: auto;
    }

    .contact-title,
    .contact-form {
        width: 100%;
        padding: 20px;
    }

    .contact-title h1 {
        font-size: 4rem;
    }

    .my-contacts {
        flex-direction: row;
        align-items: center;
    }
}

/* Responsive Adjustments for 768px and below */
@media (max-width: 768px) {
    .Contact-me {
        flex-direction: column;
    }

    .contact-title h1 {
        font-size: 3rem; /* Further reduce font size for smaller screens */
    }

    .contact-form form {
        max-width: 300px; /* Further constrain form width on smaller screens */
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 14px; /* Ensure font size is appropriate for small screens */
    }

    .my-contacts {
        font-size: 14px;
        width: 100%; /* Ensure full width */
        padding: 0 10%; /* Add some padding on the sides */
        gap: 20px;
    }

    .my-contacts div {
        flex-direction: column;
        width: 100%; /* Make each contact section full width */
        margin-bottom: 20px; /* Add space between each contact block */
    }

    .my-contacts div h1 {
        font-size: 16px; /* Adjust the font size of headers within contact blocks */
    }

    .my-contacts a {
        font-size: 14px; /* Ensure the links are legible */
    }

    .my-contacts p {
        white-space: normal; /* Allow text wrapping on smaller screens */
        text-align: center;
    }

    .my-contacts a {
        white-space: normal; /* Allow links to wrap */
    }

    .my-contacts .mm{
        white-space: nowrap; /* Allow links to wrap */

    }
}

@media (max-width: 320px) {
    .my-contacts .mm{
        white-space: nowrap; /* Allow links to wrap */
    }
}


@keyframes shake {
    0% {
        rotate: 0;
    }

    25% {
        rotate: 7deg;
    }

    50% {
        rotate: -7deg;
    }

    75% {
        rotate: 1deg;
    }

    100% {
        rotate: 0;
    }
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}


@media screen and (max-width: 540px) {
    .nav-links {
        display: none;
    }

    nav {
        padding: 0 1rem;
    }

    .hero {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .name {
        font-size: 2rem;
    }

    .hero-text {
        color: #000;
        font-size: 5rem;
        font-weight: 200;
        display: flex;
    }

    .hero-text :first-child {
        color: #000;
        font-size: 5rem;
        font-weight: 900;
        display: flex;
    }

    .menu-icon {
        display: block;
        opacity: 1;
        animation: menu-icon-animation both 1s ease-in;
        -webkit-animation: menu-icon-animation both 1s ease-in;
    }

    .logo-div {
        animation: logo-div-animation both 1s ease-in;
        -webkit-animation: logo-div-animation both 1s ease-in;
    }

    .am {
        font-size: 7rem;
    }

    .wai {
        font-size: 2rem;
    }

    #images {
        display: inline-block;
        height: 100%;
    }

    .cnt {
        margin: 5%;
    }

    #cursor {
        display: none;
    }


    .about-project {
        position: absolute;
        bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 4rem;
        width: 15rem;
        z-index: 99;
    }
    
    .project-name {
        font-size: 1.5rem;
        font-weight: 500;
        width: 35vw;
        height: 4rem;
        background-color: var(--whiteColor);
        text-align: center;
        line-height: 4rem;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .arrow-circle {
        width: 4rem;
        height: 4rem;
        background-color: var(--whiteColor);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}


@media (max-width: 768px) {
    .hero-text {
        font-size: 2rem;
    }

    .name {
        font-size: 3.5rem;
        padding-inline: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .random-img {
        width: 20rem;
    }

    #images {
        display: inline-block;
        height: 100%;
    }

    .cnt {
        margin: 5%;
    }

    
    .about-project {
        position: absolute;
        bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 4rem;
        width: 50vw;
        z-index: 99;
    }
    
    .project-name {
        font-size: 1.5rem;
        font-weight: 500;
        width: 20rem;
        height: 4rem;
        background-color: var(--whiteColor);
        text-align: center;
        line-height: 4rem;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .arrow-circle {
        width: 4rem;
        height: 4rem;
        background-color: var(--whiteColor);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}




@media (max-width: 480px) {
    .nav-container {
        padding: 0 2rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .am {
        font-size: 7rem;
    }

    .wai {
        font-size: 2rem;
    }

}

@media (max-width: 950px) {
    .name {
        font-size: 8.5rem;
        padding-inline: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .hero {
        gap: 20px;
    }

    .cnt2 {
        grid-column: 8 / span 4;
    }

    .cnt4 {
        grid-column: 2 / span 4;
        grid-row: 12 /span 8;
    }

    .cnt5 {
        grid-column: 8 / span 5;
        grid-row: 11 /span 8;
    }

    #images{
        height: 100%;
    }

    .my-contacts a {
        display: inline;
        color: #eee;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1rem;
        gap: 10px;
    }

}

@media (max-width: 390px) {
    .am {
        font-size: 6rem;
    }
}

@media (max-width: 320px) {
    .my-contacts {
        flex-direction: column;
        gap: 20px;
    }
    .my-social-links a{
        flex-direction: column;
        justify-items: left;
    }
}

@media (max-width: 375px) {
    .am {
        font-size: 5rem;
        margin-top: 20px;
    }

    .wai {
        font-size: 2rem;
    }
}

@media (max-width: 402px) {
    .am {
        font-size: 6rem;
        margin-top: 20px;
    }

    .wai {
        font-size: 2rem;
    }
}

@media (max-width: 1500px){
    .about-project {
        position: absolute;
        bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 4rem;
        width: 15rem;
        z-index: 99;
    }
    
    .project-name {
        font-size: 1.5rem;
        font-weight: 500;
        width: 10vw;
        height: 4rem;
        background-color: var(--whiteColor);
        text-align: center;
        line-height: 4rem;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .arrow-circle {
        width: 4rem;
        height: 4rem;
        background-color: var(--whiteColor);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}


@keyframes dot-menu-animation {
    0% {
        transform: translateX(500px);
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
    }

    100% {
        transform: translatex(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes logo-div-animation {
    0% {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes menu-icon-animation {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
    }

    100% {
        transform: translatex(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        -moz-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -ms-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -o-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        -moz-transform: translateY(0) scaleY(1) scaleX(1);
        -ms-transform: translateY(0) scaleY(1) scaleX(1);
        -o-transform: translateY(0) scaleY(1) scaleX(1);
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        -moz-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -ms-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -o-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        -moz-transform: translateY(0) scaleY(1) scaleX(1);
        -ms-transform: translateY(0) scaleY(1) scaleX(1);
        -o-transform: translateY(0) scaleY(1) scaleX(1);
    }
}